body{
	background-color: #f4f4f4;
}
.top-container{
	margin-bottom: 10px;
}
.container{
	margin-bottom: 10px;
}
.avator {
    position: relative;
    width: 100vw;
    height: 100px;
    background: #4ed8bd;
    box-sizing: border-box;
}
.avator >img {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 20px 20px;
}
.avator p {
    position: relative;
    display: inline-block;
    height: 100px;
    vertical-align: bottom;
    line-height: 100px;
    color: white;
    font-size: 16px;
}
.item {
    position: relative;
    width: 100vw;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #E1E1E1;
    background-color: white;
}
.item i {
    width: 21px;
    height: 21px;
    padding: 4px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    margin-left: 15px;
}

.icon1{
    background: #5ED558;
}
.icon2{
    background-color: #FC872C; 
}
.icon3{
    background-color: #FFB351;
}
.icon4{
    background-color: #49CEFF;
}
.icon5{
    background-color: #D26079;
}
.icon6{
    background-color: #5ED558;
}
.icon7{
    background-color: #49CEFF;
}
.item>p {
    display: inline-block;
    font-size: 15px;
}
.item>span {
    display: inline-block;
    font-size: 15px;
    color: #727272;
    float: right;
    margin-right: 15px;
}
.item>input{
    margin-right: 15px;
    float: right;
    box-sizing: border-box;
    display: block;
    text-align: right;
    height: 45px;
    margin: 5px;
    padding: 5px;
    outline: none;
    border: none;
}
.set{
    float: right;
    margin-right: 20px;
    margin-top: 32px;
    font-size: 20px;
    color: white;
}